.product {
    display: flex;
    align-items: center;
    border: 1px solid red;
    padding: 10px;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}